Repository Chang-CH/vite-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

update deps
  package.json
  pnpm-lock.yaml
Due: none

fix eslint
  .eslintrc.cjs
Due: none

fix eslint
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  src/components/backgrounds/BgBlob/styles.module.css
  src/components/backgrounds/BgBlob/styles.module.css.d.ts
  src/components/backgrounds/BgDots/index.tsx
  src/components/gizmos/FancyCarousel/index.tsx
  src/components/gizmos/MidiPlayer/constants.ts
  src/components/gizmos/MidiPlayer/sounds/sounds.ts
  src/components/gizmos/MidiPlayer/styles.module.css
  src/components/markdown/MarkdownPage/s.module.scss.d.ts
  src/components/markdown/SideGrid/s.module.scss.d.ts
  src/components/stdlib/button/BrutalistButton/index.tsx
  src/components/stdlib/button/BrutalistButton/s.module.css
  src/components/stdlib/button/RoundedButton/index.tsx
  src/components/stdlib/button/RoundedButton/s.module.css
  src/components/stdlib/card/BrutalistCard/index.tsx
  src/components/stdlib/card/BrutalistCard/s.module.css
  src/components/stdlib/card/TurboCard/index.tsx
  src/components/stdlib/card/TurboCard/s.module.scss.d.ts
  src/components/stdlib/loader/StackSpinner/s.module.scss.d.ts
  src/components/stdlib/timeline/GitTimeline/index.tsx
  src/components/stdlib/timeline/GitTimeline/s.module.css
  src/components/stdlib/timeline/GitTimeline/utils/index.ts
  src/components/stdlib/timeline/SimpleTimeline/index.tsx
  src/components/stdlib/timeline/SimpleTimeline/s.module.css
  src/components/textfx/rainbow/index.tsx
  src/components/textfx/rainbow/styles.module.css
  src/components/textfx/randomize/index.tsx
  src/markdown/homeserver/index.mdx
  src/markdown/homeserver/setup.mdx
  src/markdown/projects/test/s.module.scss.d.ts
  src/pages/home/s.module.scss.d.ts
  src/pages/projects/s.module.scss.d.ts
  src/pages/selfhosted/s.module.scss.d.ts
Due: prettier --write, eslint

eslint for mdx
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

fix missing eslint rules
  .eslintrc.cjs
Due: none

fix eslint mdx lint, box sizing notes
  .eslintrc.cjs
  src/index.css
  src/markdown/random/boxModel.mdx
Due: eslint

remove scss type build
  .gitignore
  src/components/backgrounds/BgBlob/styles.module.css.d.ts
  src/components/markdown/MarkdownPage/s.module.scss.d.ts
  src/components/markdown/SideGrid/s.module.scss.d.ts
  src/components/stdlib/card/TurboCard/s.module.scss.d.ts
  src/components/stdlib/loader/StackSpinner/s.module.scss.d.ts
  src/index.css
  src/markdown/projects/test/s.module.scss.d.ts
  src/pages/home/s.module.scss.d.ts
  src/pages/projects/s.module.scss.d.ts
  src/pages/selfhosted/s.module.scss.d.ts
  tsconfig.json
Due: prettier --write, eslint

fix eslint
  .eslintrc.cjs
  .lintstagedrc.json
  src/components/markdown/Links/GithubLink/index.tsx
  src/components/markdown/MarkdownPage/index.tsx
  src/main.tsx
  src/markdown/projects/homeserver/index.mdx
  src/markdown/projects/java-slang/index.mdx
  src/markdown/projects/java-slang/startup/index.mdx
  src/markdown/random/cssBoxModel.mdx
  src/markdown/random/javaSync.mdx
Due: prettier --write, eslint

rewrite homeserver md
  src/markdown/projects/homeserver/index.mdx
Due: eslint

add todo
  src/markdown/projects/homeserver/index.mdx
Due: eslint

homeserver markdown
  src/markdown/projects/homeserver/index.mdx
Due: eslint

fix java sync example
  .eslintignore
  .prettierignore
  src/components/markdown/Links/InternalLink/index.tsx
  src/markdown/random/javaSync.mdx
  src/pages/projects/index.tsx
Due: prettier --write, eslint

rename example folder
  src/markdown/projects/_example/Spinner.tsx
  src/markdown/projects/_example/components.ts
  src/markdown/projects/_example/index.mdx
  src/markdown/projects/_example/s.module.scss
  src/pages/projects/index.tsx
Due: prettier --write, eslint

homeserver writeup pt1
  src/markdown/homeserver/setup.mdx
Due: eslint

wrap up homeserver index documentation
  src/markdown/homeserver/index.mdx
  src/markdown/homeserver/setup.mdx
  src/markdown/projects/homeserver/index.mdx
Due: eslint

add rough LC flowchart
  src/markdown/leetcode/index.mdx
Due: eslint

add router setup notes
  src/markdown/homeserver/dhcpreserve.png
  src/markdown/homeserver/portforward.png
  src/markdown/homeserver/setup.mdx
  src/markdown/random/cssBoxModel.mdx
  src/pages/selfhosted/index.tsx
Due: prettier --write, eslint

set default background props
  src/components/backgrounds/BgDots/index.tsx
  src/components/markdown/Links/GithubLink/s.module.scss
  src/pages/projects/index.tsx
Due: prettier --write, eslint

todo: notes
  src/markdown/reactivity/reactFiber.mdx
  src/markdown/reactivity/reactMemoization.mdx
  src/markdown/reactivity/reactivity.mdx
Due: eslint

feat: storybook docs
  .eslintrc.cjs
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/pages/home/index.tsx
  src/pages/projects/index.tsx
  src/pages/projects/s.module.scss
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/theme/commons.scss
  vite.config.ts
Due: prettier --write, eslint

fix turbocard, projects page
  src/components/stdlib/card/TurboCard/s.module.scss
  src/pages/projects/index.tsx
  src/pages/projects/s.module.scss
  src/theme/commons.scss
Due: prettier --write, eslint

fix global styles, background components
  src/components/backgrounds/BgBlob/index.tsx
  src/components/backgrounds/BgBlob/s.module.scss
  src/components/backgrounds/BgDots/index.tsx
  src/index.css
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/home/s.module.scss
  src/pages/projects/index.tsx
  src/pages/selfhosted/index.tsx
  src/pages/utils/Loading/index.tsx
  src/pages/utils/Loading/s.module.scss
  src/theme/_global.scss
  src/theme/commons.scss
  vite.config.ts
Due: prettier --write, eslint

fix self hosted links
  src/components/stdlib/card/TurboCard/s.module.scss
  src/main.tsx
  src/markdown/selfhosted/about/index.mdx
  src/markdown/selfhosted/setup/dhcpreserve.png
  src/markdown/selfhosted/setup/index.mdx
  src/markdown/selfhosted/setup/portforward.png
  src/pages/projects/index.tsx
  src/pages/selfhosted/index.tsx
  src/pages/selfhosted/s.module.scss
Due: prettier --write, eslint

feat: blog layout
  src/components/markdown/MarkdownPage/index.tsx
  src/layouts/CleanBlog/index.tsx
  src/layouts/CleanBlog/s.module.scss
  src/main.tsx
Due: prettier --write, eslint

self hosted service setup
  src/markdown/selfhosted/about/index.mdx
  src/markdown/selfhosted/setup/authentik/index.mdx
  src/markdown/selfhosted/setup/index.mdx
  src/markdown/selfhosted/setup/jellyfin/index.mdx
Due: eslint

setup markdown image
  public/markdown/selfhosted/setup/dhcpreserve.png
  public/markdown/selfhosted/setup/portforward.png
  src/components/markdown/MarkdownImage/index.tsx
  src/components/markdown/MarkdownImage/s.module.scss
  src/components/markdown/MarkdownPage/index.tsx
  src/layouts/CleanBlog/s.module.scss
  src/markdown/selfhosted/setup/index.mdx
Due: prettier --write, eslint

fix build errors
  src/components/gizmos/MidiPlayer/index.tsx
  src/components/stdlib/timeline/GitTimeline/utils/index.ts
  src/components/stdlib/timeline/SimpleTimeline/index.tsx
  src/stories/Button.tsx
  src/stories/Header.tsx
Due: prettier --write, eslint

todo selfhosted setup
  src/markdown/selfhosted/setup/index.mdx
Due: eslint

mdx default styles
  .eslintrc.cjs
  src/components/markdown/MarkdownPage/index.tsx
  src/components/markdown/MarkdownPage/s.module.scss
  src/components/stdlib/card/Card.tsx
  src/stories/Card.stories.tsx
Due: prettier --write, eslint

prepare mdx submodule
  src/main.tsx
  src/markdown/_example_pages.json
  src/markdown/tech/cssBoxModel.mdx
  src/markdown/tech/javaSync.mdx
  src/markdown/tech/pages.json
Due: prettier --write, eslint

fix mdx components
  src/components/markdown/MarkdownPage/index.tsx
Due: prettier --write, eslint

add build script
  src/markdown/_example_pages.json
  src/markdown/build.sh
Due: none

mdx index tool build output
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/markdown/leetcode/pages.json
  src/markdown/pages.json
  src/markdown/projects/_example/pages.json
  src/markdown/projects/java-slang/pages.json
  src/markdown/projects/pages.json
  src/markdown/reactivity/pages.json
  src/markdown/selfhosted/about/pages.json
  src/markdown/selfhosted/pages.json
  src/markdown/selfhosted/setup/authentik/pages.json
  src/markdown/selfhosted/setup/jellyfin/pages.json
  src/markdown/selfhosted/setup/pages.json
  src/markdown/tech/pages.json
  src/pages/experimental/mdx-submodule/index.tsx
  src/pages/experimental/mdx-submodule/s.module.scss
  tools/toc/index.ts
  vite.config.ts
Due: prettier --write, eslint

mdx directory layout
  src/layouts/MdxDirectory/index.tsx
  src/layouts/MdxDirectory/s.module.scss
  src/main.tsx
  src/pages/experimental/mdx-directory/index.tsx
Due: prettier --write, eslint

parse frontmatter
  package.json
  pnpm-lock.yaml
  src/layouts/MdxDirectory/index.tsx
  src/markdown/selfhosted/about/index.mdx
  vite.config.ts
Due: prettier --write, eslint

mdx directory test cards
  public/test.jpg
  src/components/stdlib/card/Card.tsx
  src/components/stdlib/card/TurboCard/s.module.scss
  src/layouts/MdxDirectory/index.tsx
  src/layouts/MdxDirectory/s.module.scss
  src/markdown/selfhosted/about/pages.json
  src/markdown/selfhosted/pages.json
  src/pages/projects/s.module.scss
  src/pages/selfhosted/s.module.scss
Due: prettier --write, eslint

update notes
  pnpm-lock.yaml
  src/components/stdlib/card/Card.tsx
  src/markdown/_example_pages.json
  src/markdown/build.sh
  src/markdown/leetcode/index.mdx
  src/markdown/leetcode/structs/segmentTree.mdx
  src/markdown/pages.json
  src/markdown/selfhosted/about/index.mdx
  src/markdown/selfhosted/setup/dhcpreserve.png
  src/markdown/selfhosted/setup/index.mdx
  src/markdown/selfhosted/setup/portforward.png
  src/markdown/tech/reactivity/pages.json
  src/markdown/tech/reactivity/reactFiber.mdx
  src/markdown/tech/reactivity/reactMemoization.mdx
  src/markdown/tech/reactivity/reactivity.mdx
Due: prettier --write, eslint

algo notes
  src/markdown/leetcode/algorithms/KnuthMorrisPrattKmp.mdx
  src/markdown/leetcode/structs/segmentTree.mdx
  src/markdown/leetcode/structs/unionFind.mdx
Due: eslint

update mdx
  pnpm-lock.yaml
  src/markdown/leetcode/algorithms/FloydCycleDetection.mdx
  src/markdown/leetcode/algorithms/KmpPatternSearch.mdx
  src/markdown/leetcode/algorithms/RabinKarpPatternSearch.mdx
  src/markdown/leetcode/structs/AvlTree.mdx
Due: eslint

fix build
  vite.config.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.scss)
  eslint: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.mdx)) or (any of: *.md)
